.App {
  text-align: center;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  width: 80%;
  margin: 10px auto;
  display: flex;
  justify-content: center;
}
.home {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.title {
  width: 300px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  width: 50%;
  height: 40px;
  margin: 10px auto;
  border: 2px black dotted;
  border-radius: 20px;
}

.article_div {
  height: 150px;
  border: 2px black dotted;
  border-radius: 20px;
  width: 90%;
  margin: 10px auto;
}

.article_sortby {
  width: 90%;
  display: flex;
  margin: 10px auto;
}
#root {
  width: 100%;
  display: flex;
  justify-content: center;
}
.articles_container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.router {
  display: flex;
  justify-content: center;
}

.comments_article {
  border: 2px black dotted;
  margin-top: 10px;
}

.commentinput_container {
  display: flex;
  width: 80%;
  height: 100px;
}

.commentinput_textbox {
  height: 70px;
  width: 60%;
  margin-left: 10px;
}

.comment_form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

body {
  background-image: url(./images/hexabump_@2X.png);
}
